extends layout
block head
  script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js")


block content
  div.bg-blue
    .container
      h1 Mods
      table( data-order='[[ 2, "desc" ]]' )
        thead
          tr
            th( width="50%" ) mod
            th( width="30%" ) author
            th( width="20%" ) count
        tbody
          each mod in mods
            tr
              td= mod._id
              td= mod.author
              td= mod.count
            
  div.bg-grey
    .container
      h1 Authors
      table( data-order='[[ 1, "desc" ]]' )
        thead
          tr
            th( width="80%" ) author
            th( width="20%" ) count
        tbody
          each author in authors
            tr
              td= author._id
              td= author.count

  div.bg-blue
    .container
      h1 Linkers
      table( data-order='[[ 1, "desc" ]]' )
        thead
          tr
            th( width="80%" ) redditor
            th( width="20%" ) count
        tbody
          each requester in requesters
            tr
              td= requester._id
              td= requester.count
  script.
    $(document).ready(function(){
      $('table').DataTable({
        scrollY: 500,
        paging: false
      });
    });